body {
  margin: 0 auto;
  font-family: Helvetica;
  font-size: 16px;
}

.headcontainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  height: 2em;
  background-color: gray;
}

.header-wrapper{
  display: flex;

  height: 125px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

.top-head-strip {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: gray;
  height: 2em;
  margin-right: 1em;
}

.head-stripitem a {
  color: white;
  text-decoration: none;
}

.nav a {
  color: white;
  font-size: 1.3em;
  font-weight: lighter;
  letter-spacing: 2px;
  font-family: Arial;
  text-decoration: none;
}

.head-stripitema a {
  color: white;
  padding-right: 1em;
  padding-left: 1em;
  text-decoration: none;
}


.head-stripitem {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  border-right: 1px solid lightgray;
  padding: 0 1em;
}

.head-con {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.head-quote a {
  color: white;
  text-decoration: none;

}

.head-quote {
  display: flex;
  align-items: center;
  border: 2px solid white;
  background-color: black;
  border-radius: 10px;
  height: 2.4em;
  width: 7em;
  margin-right: 5em;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;

}

.head-logo {

  margin-left: 5em;
  margin-right: 5em;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 50em;
  margin-right: .8em;
}

.nav-item {
  margin-left: 4em;
  margin-right: 4em;
  font-weight: lighter;
  font-size: 1em;
}

.fade {
  width: 100%;
  height: 600px;
}

.paracentertitle {
  display: flex;
  width: 1200px;
  flex-direction: column;
}

.paracenterabout {
  display: flex;
  width: 1200px;
  align-items: center;
  justify-content: space-between;
}


.parallaxtitle {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 1200px;
  background-image: url("../images/wires.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

.stripabout {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.4em;
  width: 100%;
  height: 10em;
  background-color: white;
}

.parallaxabout {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  background-image: url("../images/wiresclean.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

.title {
  margin-top: 6em;
  margin-left: 5em;
  color: white;
  font-size: 1em;
  letter-spacing: 8px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.slocon {
  width: 60%;
}

.slogan {
  margin-top: ;
  margin-left: 1em;
  color: white;
  font-size: 4em;
  letter-spacing: 8px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.parallaxflag {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  background-image: url("../images/re_flagbckgrnd.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

.vetcaption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  background-color: rgba(255, 255, 255, 0.7);
  height: 100px;
  padding: 20px;
  color: black;
  font-size: 3em;
  letter-spacing: 8px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 300;
}

.parallaxelectric {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 900px;
  background-image: url("../images/wirecoil.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

.veteranowned a {
  color: rgb(0, 110, 255);
}

.veteranowned h4 {
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 1px;
}

.veteranowned h2 {
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 1spx;
  font-size: 2em;
}

.veteranowned {
  margin-top: 7em;
  margin-bottom: 7em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.aboutfade {
  background-color: rgba(155, 155, 155, 0.7);
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 1800px;
}

.founder {
  margin: 0px 15px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.future {
  margin: 0px 15px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.mission {
  margin: 0px 15px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.future h3 {
  color: black;
  font-size: 1.5em;
}
.mission h3 {
  color: black;
  font-size: 1.5em;
}
.founder h3 {
  color: black;
  font-size: 1.5em;
}



.mapsection {
  margin-top: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  align-items: center;
  justify-content: space-between;
}
