body {
  margin: 0 auto;
  font-family: Helvetica;
  font-size: 16px;
}

.headcontainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 2em;
  background-color: rgb(185, 0, 0);
}

.header-wrapper{
  display: flex;

  height: 125px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

.top-head-strip {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(185, 0, 0);
  height: 2em;
  margin-right: 1em;
}

.head-stripitem a {
  color: black;
  text-decoration: none;
  background-color: rgb(185, 0, 0);
}

.nav a {
  color: white;
  font-size: 1.3em;
  font-weight: lighter;
  letter-spacing: 2px;
  font-family: Arial;
  text-decoration: none;
}

.footstrip {
  height: 1em;
  width: 100%;
  background-color: rgb(23, 89, 242);
}

.head-stripitema a {
  color: black;
  padding-right: 1em;
  padding-left: 1em;
  text-decoration: none;
}


.head-stripitem {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid lightgray;
  padding: 0 1em;
  background-color: rgb(185, 0, 0);
}

.head-con {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: white;
}

.head-quote p {
  color: white;
  text-decoration: none;

}

.head-quote {
  display: flex;
  align-items: center;
  background-color: black;
  border-radius: 10px;
  height: 2.4em;
  width: 16em;
  margin-right: 3em;
  text-align: center;
  font-size: 1em;
  font-weight: bold;

}

.head-logo {

  margin-left: 5em;
  margin-right: 5em;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 2em;
  width: 50em;
  margin-right: .8em;
}

.nav-item {
  margin-left: 4em;
  margin-right: 4em;
  font-weight: lighter;
  font-size: 1em;
}

.fade {
  width: 100%;
  height: 600px;
}

.paracentertitle {
  display: flex;
  width: 1200px;
  flex-direction: column;
}

.servicetitlecenter {
  display: flex;
  width: 1200px;
  margin-top: 4em;
  flex-direction: column;
}

.paracenterabout {
  display: flex;
  width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.servicepara {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 2000px;
  margin: 0 auto;
}

.servicestrip{
  height: 3em;
  width: 100%;
  background-color: black;l
}

.servicefade {
  background-color: rgba(155, 155, 155, 0.7);
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100px;
}


.parallaxtitle {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 850px;
  background-image: url("../images/wires.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

.stripabout {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.4em;
  width: 100%;
  height: 10em;
  color: white;
  background-color: black;
}

.servicecontent {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 1200px;
  height: 100px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 2em;
}

.servtitle h2{
 color: rgb(185, 0, 0);
}

.servlist {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 1200px;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 1em;
}

.servlisttwo {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 1200px;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 1em;
}

.listbck {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  opacity: .9;


}

.listcontainer {
  width: 1200px;
  display: flex;
  font-size: 1.5em;
}

.servicecontent h2 {
  color: rgb(185, 0, 0);
  text-align:center;
  font-family: 'Fjalla One', sans-serif;
}

.parallaxabout {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 4000px;
  background-image: url("../images/wiresclean.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 0px;
  margin-bottom: 7em;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

.title {
  margin-top: 6em;
  margin-left: 4em;
  color: white;
  font-size: 1em;
  letter-spacing: 8px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.titleservice {
  margin-top: 6em;
  margin-left: 4em;
  color: white;
  font-size: 1em;
  letter-spacing: 8px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.slocon {
  width: 60%;
}

.slogan {
  margin-top: ;
  margin-left: 1em;
  color: white;
  font-size: 4em;
  letter-spacing: 8px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.sloganservice {
  margin-top: ;
  margin-left: 1em;
  color: white;
  font-size: 4em;
  letter-spacing: 8px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.parallaxflag {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  background-image: url("../images/re_flagbckgrnd.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

.vetcaption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  background-color: rgba(255, 255, 255, 0.7);
  height: 100px;
  padding: 20px;
  color: black;
  font-size: 3em;
  letter-spacing: 8px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 300;
}

.parallaxelectric {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 900px;
  background-image: url("../images/wirecoil.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

.veteranowned a {
  color: rgb(0, 110, 255);
}

.veteranowned h4 {
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 1px;
}

.veteranowned h2 {
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 1spx;
  font-size: 2em;
}

.veteranowned {
  margin-top: 7em;
  margin-bottom: 7em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.aboutfade {
  background-color: rgba(155, 155, 155, 0.7);
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.founder {
  display: flex;
  margin: 45px 15px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
  width: 100%;
}

.expert {
  margin-top: 12em;
  margin-bottom: 14em;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 1.5em;
  width: 1200px;
}

.expertstrip {
  background-color: white;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 900px;
}

.clientmapstrip {
  background-color: rgba(155, 155, 155, 0.7);
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 1800px;
}

.mission {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
  width: 100%;
  padding-left: 9em;
}

.expert h3 {
  color: black;
  font-size: 1.5em;
}
.mission h3 {
  color: black;
  font-size: 1.5em;
}
.founder h3 {
  color: black;
  font-size: 1.5em;
}

.missionbox h3 {
  font-size: 2em;
}

.teambox {
  width: 40em;
}

.teambox h3 {
  font-family: Helvetica;
  font-weight: 600;
  font-size: 3em;
  color: rgb(185, 0, 0);
}

.founderbox {
  border-top: 2px solid white;
  display: flex;
  justify-content: space-around;
  margin-top: 5em;
  padding-top: 5em;
}

.parabox h3 {
  font-family: Helvetica;
  font-weight: 600;
  color: rgb(185, 0, 0);
}

.davebox {
  border-top: 2px solid white;
  display: flex;
  justify-content: space-around;
  margin-top: 5em;
  padding-top: 5em;
}

.dougbox {
  border-top: 2px solid white;
  display: flex;
  justify-content: space-around;
  margin-top: 5em;
  padding-top: 5em;
}

.parabox {
  width: 20em;
  margin-right: 10em;
}

.expertbox {
  width: 30em;
  margin-right: 7em;
}

.expertbox h3{
  color: rgb(23, 89, 242);
}

.missionbox {
  width: 30em;
  margin-right: 7em;
  font-size: 1.2em;
}

.missionbox h3 {
  font-family: Helvetica;
  font-weight: bold;
  color: rgb(185, 0, 0);
}

.mapsection {
  margin-top: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.topflag {
  height: 6em;
  width: 100%;
  background-color: white;
}

.experience {
  display: flex;
  width: 1200px;
  color: white;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 9em;
  margin-top: 1em;

}

.experience h2 {
  font-family: Helvetica;
  font-weight: 900;
  font-size: 3.5em;
  color: rgb(185, 0, 0);
}

.experience p {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  height: 8em;
  width: 100%;
}

.foot {
  margin-left: 6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service {
  height: 850px;
  width: 100%;
}

.parallaxservicestitle {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 850px;
  background-image: url("../images/board.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

.parallaxservcontain {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  background-image: url("../images/board2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}
